.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 100vh;
}

.App-logo {
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282D30;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-heading {
  width: 100%;
}
.App-content {
  max-width: 958px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.App-form {
  height: 180px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name {
  width: 30%;
}
.year {
  width: 30%;
}
.price {
  width: 30%;
}
.description {
  width: 100%;
}
.colour {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radio {
  width: 100%;
  margin-left: -20px;
}
.radio input {
  width: 16%;
}
.status {
  width: 30%;
}
.status select {
  width: 100%;
}
.send {
  width: 30%;
}
.send button {
  width: 100%;
}
.table-name {
  text-align: start;
  width: 100%;
}
.App-footer {
  background-color: #282D30;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
